mvp_env
assets/*
db.sqlite3
fulcrum_data/*
fulcrum/*
.idea
*.pyc
mvp_app/*
fulcrum_importer/migrations/*
temp.json
settings.py
local_settings.py
celery.log
celerybeat.pid
celerybeat-schedule
test.json
local_settings.py
setup.py
mvp/clear_fm_db.sh
