mvp_env
assets/*
db.sqlite3
fulcrum_data/*
fulcrum/*
.idea
*.pyc
mvp_app/*
djfulcrum/migrations/*
temp.json
settings.py
local_settings.py
celery.log
celerybeat.pid
celerybeat-schedule
test.json
local_settings.py
mvp/clear_fm_db.sh
mvp/clear_fm_db.sh
!mvp/djfulcrum/scripts/settings.py
mvp/django_fulcrum.egg-info/not-zip-safe
mvp/django_fulcrum.egg-info/requires.txt
*.s3cfg
mvp/django_fulcrum.egg-info/dependency_links.txt
mvp/django_fulcrum.egg-info/SOURCES.txt
mvp/django_fulcrum.egg-info/PKG-INFO
mvp/django_fulcrum.egg-info/top_level.txt
mvp/build/*
mvp/django_fulcrum.egg-info
