<!DOCTYPE html>
<html>
<head>
	<title>fulcrum-viewer</title>
	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% load staticfiles %}
	
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
	<link rel="stylesheet" href="https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css" />
	<link rel="stylesheet" href="{% static "piazza_consumer/Leaflet.MousePosition/src/L.Control.MousePosition.css" %}" />
	<link rel="stylesheet" href="{% static "piazza_consumer/LeafletMiniMap/src/Control.MiniMap.css" %}" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="{% static "piazza_consumer/LeafletLocateControl/src/L.Control.Locate.css" %}"/>
	<link rel="stylesheet" href="{% static "piazza_consumer/Leaflet.ZoomHome/dist/leaflet.zoomhome.css" %}"/>
	<link rel="stylesheet" href="{% static "piazza_consumer/Leaflet.EasyButton/src/easy-button.css" %}"/>
	<link rel="stylesheet" href="{% static "piazza_consumer/Leaflet.ZoomBox/L.Control.ZoomBox.css" %}"/>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

	<style>
		#map {
			position: fixed;
			top: 0%;
			right: 0%;
			bottom: 0%;
			left: 0%;
			z-index: -1;
		}
		
		.ui-widget-content {
			text-align: center;
		}
		.ui-dialog .ui-dialog-buttonpane { 
			text-align: center;
		}
		.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { 
			float: none;
		}
		.ui-dialog .ui-dialog-title {
			text-align: center;
			width: 100%;
		}
		#placeholder {
			position: absolute;
			height: 10px;
			width: 50px;
			visibility: hidden;
		}
        #progress{
            height: 20px;
			width: 100%;
            display: block;
        }
        #uploadFormButton {
            display: block;
            width: 100%;
        }
		#fileUpload {
			width: 100%;
			z-index: 2;
		}
		#files {
			width: 0.1px;
			height: 0.1px;
			opacity: 0;
			overflow: hidden;
			position: absolute;
			z-index: -1;
		}
		#submitbutton {
			width: 0.1px;
			height: 0.1px;
			opacity: 0;
			overflow: hidden;
			position: absolute;
			z-index: -1;
		}
		#Submit {
			position: absolute;
			height: 30px;
			width: 70px;
			top: 240px;
			left: 115px;
		}
		#upload {
			position: absolute;
			height: 30px;
			width: 200px;
			top: 35px;
			left: 50px;
		}
		#drop_zone {
			position: absolute;
			top: 79px;
			left: 75px;
			height: 100px;
			width: 100px;
			border: 2px dashed #ffffff;
			border-radius: 5px;
			padding: 25px;
			text-align: center;
			color: #ffffff;
			background-color: #cccccc;
		}
	
	</style>
	
</head>
<body>

	<div id="map"></div>
	
	<div id="placeholder"></div>
	
	<form id="timeoutForm" title="Alert Timeout Controller" visibility="hidden">
			<label for="timeout" style="display: block;" id="timeoutLabel">Enter seconds for alert timeout,<br>or enter 0 to disable timeout.</label></br>
			<input type="text" name="timeout" id="timeout" value="" style="display: block;" class="text ui-widget-content ui-corner-all"/>
    </form>
	
	<form id="colortimeForm" title="Alert Color Controller" visibility="hidden">
			<label for="colortime" style="display: block;" id="colortimeLabel">Enter seconds for alert color,<br>or enter 0 to disable alert color.</label></br>
			<input type="text" name="colortime" id="colortime" value="" style="display: block;" class="text ui-widget-content ui-corner-all"/>
	</form>
	
    <div id="formContainer" title="Upload File"> 
        <form id="fileUpload" enctype="multipart/form-data" visibility="hidden">
            <div >
                <input id="uploadFormButton"  name="file" type="file" />
            </div>                
        </form>
        <progress id='progress'></progress>
    <div>
	
	<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js"></script>
	<script src="{% static "piazza_consumer/Leaflet.MousePosition/src/L.Control.MousePosition.js" %}"></script>
    <script src="{% static "piazza_consumer/LeafletMiniMap/src/Control.MiniMap.js" %}"></script>
    <script src="{% static "piazza_consumer/LeafletLocateControl/src/L.Control.Locate.js" %}"></script>
    <script src="{% static "piazza_consumer/Leaflet.ZoomHome/dist/leaflet.zoomhome.js" %}"></script>
    <script src="{% static "piazza_consumer/Leaflet.EasyButton/src/easy-button.js" %}"></script>
	<script src="{% static "piazza_consumer/Leaflet.ZoomBox/L.Control.ZoomBox.min.js" %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	
    <script>

 	"use strict";
		
	$(document).ready(function () {
	
		if (!Date.now) {
				Date.now = function() { return new Date().getTime() }
			}

		var OpenStreetMap = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{
			maxZoom : 15,
			attribution : 'Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors',
			id : 'mapbox.light'
		});
		
		var Esri_WorldImagery = L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
			maxZoom : 15,
			attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
		});
		
		var mini = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			minZoom: 0, 
			maxZoom: 13, 
			attribution: 'Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors'
		});
		
		var map = L.map('map', {
			zoomControl: false,
			fullscreenControl: true,
			center:[0, 0], 
			zoom: 2,
			layers: OpenStreetMap
		});
		
		var baseMaps = {
			"Esri_WorldImagery": Esri_WorldImagery,
			"OpenStreetMap": OpenStreetMap
		};
		
		// Empty layer list for any user uploaded layers //
		var layers = {};
		
		// Adds layer selection to map //
		var layerControl = L.control.layers(baseMaps, layers).addTo(map);
		
		// Adds a locator map to bottom corner of the main map //
		var miniMap = new L.Control.MiniMap(mini).addTo(map);
		
		// Adds a popup with information for each point //
		function onEachFeature(feature, layer) {
			layer.on('click', function (e) {
				var content = "";
				
				// Add alert name //
				if (e.target.feature.properties.name != null && e.target.feature.properties.name != "") {
					content += '<p><strong>Name: </strong> ' + e.target.feature.properties.name + '</p>';
				}
				else  {
					content += '<p><strong>Name: </strong>Unavailable</p>';
				}
				
				// Add alert time //
				if (e.target.feature.properties.time != null && e.target.feature.properties != "") {
					var time = new Date(e.target.feature.properties.time);
					content += '<p><strong>Alert time: </strong>'+ time + '</p>';
				}
				else {
					content += '<p><strong>Alert time: </strong>Unavailable</p>';
				}
				
				// Add alert address //
				if (e.target.feature.properties.address_1 != null && e.target.feature.properties.address_1 != "") {
					content += '<p><strong>Address: </strong>' + e.target.feature.properties.address_1;
				}
				else {
					content += '<p><strong>Address: </strong>Unavailable';
				}
				
				// Add alert city //
				if (e.target.feature.properties.city != null && e.target.feature.properties.city != "") {
					content += '</br><strong>City: </strong>' + e.target.feature.properties.city;
				}
				else {
					content += '</br><strong>City: </strong>Unavailable';
				}
				
				// Add alert country //
				if (e.target.feature.properties.country != null && e.target.feature.properties.country != "") {
					content += '</br><strong>Country: </strong>' + e.target.feature.properties.country;
				}
				else {
					content += '</br><strong>Country: </strong>Unavailable';
				}
				
				// close the address, city, country paragraph //
				content += '</p>';
				
				// Add alert photos //
				if (e.target.feature.properties.photos_url != null && e.target.feature.properties.photos_url != "") {
					var urlStr = "";
					for (var url in e.target.feature.properties.photos_url){
						urlStr += '<p><a href="' + e.target.feature.properties.photos_url[url] + '" target="_blank"><img src="' + e.target.feature.properties.photos_url[url] + '" style="width: 250px; height: 250px;"/></a></p>';
					};
					
					content += urlStr;
				}
				
				// Get position for popup //
				var coords = [e.target.feature.geometry.coordinates[1],e.target.feature.geometry.coordinates[0]];
				
				// Create popup and add to map //
				var popup = L.popup().setLatLng(coords).setContent(content).openOn(map);
			});
		}
		
		// Symbolizes new points in red, old points in grey //
		function Markers (feature) {
			
			
			if (feature.properties.time + (colortime * 1000) > Date.now() && colortime > 0){
				return {
					radius : 4,
					fillColor : "#e60000",
					color : "#000000",
					weight : 1,
					opacity : 1,
					fillOpacity : 1
				}
			}
			
			else {
			    return {
				  radius : 4,
				  fillColor : "#737373",
				  color : "#000000",
				  weight : 1, 
				  opacity : 1,
				  fillOpacity : 1
				 }
			}
		}
		
		// Create main layer for subscribed data stream //
		var alayer;

			function updateMap(geojson){

				alayer = L.geoJson(geojson, {
					
					// Does not display old points on the map //
					filter : function(feature) {
						if (timeout != 0) {
							return feature.properties.time + (timeout * 1000) > Date.now();
						}
						else {
							return true;
						}
					},

					style : function (feature) {
						return feature.properties && feature.properties.style;
					},

					onEachFeature : onEachFeature,

					pointToLayer : function (feature, latlng) {
						return L.circleMarker(latlng, Markers(feature));
					}
				}).addTo(map);
		}
		
		// Get features from geojson file every second //
        setInterval(function () {
			
			$.ajax({
					url : "{{geojson_request_url}}",
					dataType: "json",
					success : function (result) {
						if (map.hasLayer(alayer)) {
							map.removeLayer(alayer);
						}
						updateMap(result);
					}
				});
		}, 1000);
		
		
		// Show coordinates of mouse position //
		L.control.mousePosition().addTo(map);
		
		// Option to get your own location on the map //
		L.control.locate({
			position: 'topleft',
			drawCircle: false,
			remainActive: false,
			icon: 'fa fa-map-marker'
		}).addTo(map);
		
		// Adds a return to home extend button //
		var zoomHome = L.Control.zoomHome();
		zoomHome.addTo(map);
		
		// Adds numeric scale to map //
		L.control.scale().addTo(map);
		
		// Button to fit map extent to bounds of point layer //
		var extentButton = L.easyButton({
			states: [{
				stateName: 'Zoom to extent of current alerts',
				icon: 'fa-map',	
				title: 'Zoom to extent of current alerts',
				onClick: function(btn, map) {
					map.fitBounds(alayer.getBounds());
				}
			}]
		}).addTo(map);
		
		// Adds draggable zoom box //
		var zoomBox = L.control.zoomBox({
			className: 'fa fa-search-plus',
			modal: true,
		}).addTo(map);
		
		
		// Button to set alert timeout //
		var timeout = 0;
		document.getElementById("timeout").value = timeout;
		var getTimeout = $(function() {
		
			var TimeDialogBox = $("#timeoutForm").dialog({
				autoOpen: false,
				closeOnEscape: false,
				open: function(event, ui) {
					$(".ui-dialog-titlebar-close", ui.dialog | ui).hide();
					$("#colortimeForm").dialog('close');
				},
				position: {
					my: "left top",
					at: "right bottom",
					of: placeholder
				},
				modal: false,
				buttons: {
					"Submit": function() {
						var inNum = parseInt($("#timeout").val());
						if(isNaN(inNum) || inNum < 0 || inNum == "") {
							timeout = 0;
							document.getElementById("timeout").value = timeout;
						}
						else {
							timeout = inNum;
						}
						$(this).dialog("close");
					},
					"Cancel": function() {
						$(this).dialog("close");
					}
				},
			
			});
			
			$('#timeoutForm').keypress( function(e) {
				if (e.charCode == 13 || e.keyCode == 13) {
					var inNum = parseInt($("#timeout").val());
						if(isNaN(inNum) || inNum < 0 || inNum == "") {
							timeout = 0;
							document.getElementById("timeout").value = timeout;
						}
						else {
							timeout = inNum;
						}
						$(this).dialog("close");
					e.preventDefault();
				}
			});
			
			var timeoutButton = L.easyButton({
				states: [{
					stateName: 'Set timeout for alerts',
					icon: 'fa-clock-o',	
					title: 'Set timeout for alerts',
					onClick: function(btn, map) {
						TimeDialogBox.dialog("open");
					}
				}]
			}).addTo(map);
		});		
	
		
		// Button to set new alert color time //
		var colortime = 0;
		document.getElementById("colortime").value = colortime;
		var getColortime = $(function() {
		
			var colorDialogBox = $("#colortimeForm").dialog({
				autoOpen: false,
				closeOnEscape: false,
				open: function(event, ui) {
					$(".ui-dialog-titlebar-close", ui.dialog | ui).hide(); 
					$("#timeoutForm").dialog('close');
				},
				height: 250,
				width: 350,
				position: {
					my: "left top",
					at: "right bottom",
					of: placeholder
				},
				modal: false,
				buttons: {
					"Submit": function() {
						var inNum = parseInt($("#colortime").val());
						if(isNaN(inNum) || inNum < 0 || inNum == '') {
							colortime = 0;
							document.getElementById("colortime").value = colortime;
						}
						else {
							colortime = inNum;
						}
						$(this).dialog("close");
					},
					"Cancel": function() {
						$(this).dialog("close");
					}
				},
			
			});
			
			$('#colortimeForm').keypress( function(e) {
				if (e.charCode == 13 || e.keyCode == 13) {
					var inNum = parseInt($("#colortime").val());
						if(isNaN(inNum) || inNum < 0 || inNum == "") {
							colortime = 0;
							document.getElementById("colortime").value = colortime;
						}
						else {
							colortime = inNum;
						}
						$(this).dialog("close");
					e.preventDefault();
				}
			});
			
			var colorTimeButton = L.easyButton({
				states: [{
					stateName: 'Set time for new alert color',
					icon: 'fa-exclamation-circle',	
					title: 'Set timeout for new alert color',
					onClick: function(btn, map) {
						colorDialogBox.dialog("open");
					}
				}]
			}).addTo(map);
		});		
		
		/*
		var newlayer;
		function handleFileSelect(evt) {
			var file = evt.target.files[0];
			var reader = new FileReader();
			if (file) {
				reader.onload = function(e) {
					var contents = e.target.result;
					var parsedfile = JSON.parse(contents);
					newlayer = new L.geoJson(parsedfile, {
						pointToLayer : function (feature, latlng) {
							return L.circleMarker(latlng, styler);
						}
					}).addTo(map); */ /*
						
					//document.getElementById('files').style.visibility = 'hidden';
				};
				reader.readAsText(file);
			}
		*/	
		/*
		};
		var listening = document.getElementById('files').addEventListener('change', handleFileSelect, false);
		
		var removeButton = L.easyButton({
			position: 'bottomleft',
			states: [{
				stateName: 'Add-geoJson-Layer',
				icon: 'fa-plus',
				title: 'Add geoJson Layer',
				onClick: function(btn, map) {
					//document.getElementById('files').click();
					document.getElementById('files').style.visibility = 'visible';
					btn.state('Remove-added-layer');
				}
			},
			{
				stateName: 'Remove-added-layer',
				icon: 'fa-trash-o',	
				title: 'Remove Added Layer',
				onClick: function(btn, map) {
					if(newlayer) {
						map.removeLayer(newlayer);
					}
					btn.state('Add-geoJson-Layer');
				}
			}]
		}).addTo(map);
		
				
		
		function handleDragOver(evt) {
			evt.stopPropagation();
			evt.preventDefault();
			evt.dataTransfer.dropEffect = 'copy'; // Explicitly show this is a copy.
		}

		// Setup the dnd listeners.
		var dropZone = document.getElementById('drop_zone');
		dropZone.addEventListener('dragover', handleDragOver, false);
		dropZone.addEventListener('drop', handleFileSelect, false);
	*/
	
		// Uploads user data //
		var uploadForm = (function(){
            var formData = new FormData($('#fileUpload')[0]);
            $.ajax({
                url: '/messages/upload',  //Server script to process data
                type: 'POST',
                xhr: function() {  // Custom XMLHttpRequest
                    var myXhr = $.ajaxSettings.xhr();
                    if(myXhr.upload){ // Check if upload property exists
                        myXhr.upload.addEventListener('progress',progressHandlingFunction, false); // For handling the progress of the upload
                    }
                    return myXhr;
                },
                // Ajax events //
                beforeSend: console.log("Sending"),
                success: console.log("Success"),
                error: console.log("Fail"),
                // Form data //
                data: formData,
                // Options to tell jQuery not to process data or worry about content-type. //
                cache: false,
                contentType: false,
                processData: false
            });
        });
        
		// For progress bar ..
        function progressHandlingFunction(e){
            if(e.lengthComputable){
                $('progress').attr({value:e.loaded,max:e.total});
            }
        }
        
        /* var uploadFile = $(function() {*/
		
		// Upload dialog box //
		var uploadFileDialogBox = $("#formContainer").dialog({
			autoOpen: false,
			closeOnEscape: false,
			open: function(event, ui) {
				$(".ui-dialog-titlebar-close", ui.dialog | ui).hide(); 
				$("#timeoutForm").dialog('close');
				$("#colortimeForm").dialog('close');
			},
			height: 175,
			width: 500,
			position: {
				my: "left top",
				at: "right bottom",
				of: placeholder
			},
			modal: true,
			buttons: {
				"Upload": function() {
					uploadForm;
					getLayer();
				},
				"Cancel": function() {
					$(this).dialog("close");
				}
			},
		});
         
		// Button to call upload dialog box //
        var uploadFileButton = L.easyButton({
			states: [{
				stateName: 'Upload File',
				icon: 'fa fa-upload',	
				title: 'Upload File',
				onClick: function(btn, map) {
					uploadFileDialogBox.dialog("open");
				}
			}]
		}).addTo(map);
		
		// Handles use of enter key //
        $('#fileUpload').keypress( function(e) {
			if (e.charCode == 13 || e.keyCode == 13) {
				uploadForm();
				e.preventDefault();
			}
		});
            
        // Receives user upload file back from server as a list of geojson files //
		var layercount = 0;
		function getLayer() {
			$.ajax({
				url: '/messages/geojson?layer=starbucks',
				dataType: "json",
				success: function (result) {
					for(var key in result) {
						var value = result[key];
						var newlayer = L.geoJson(value, {
							pointToLayer : function (feature, latlng) {
								return L.circleMarker(latlng, styler);
							}
						}).addTo(map);
						layers["newlayer" + layercount++] = newlayer;
						layerControl.removeFrom(map);
						layerControl = L.control.layers(baseMaps, layers).addTo(map);
					}
				}
			});
			
			// Styles the layer being added to map //
			var styler = {
				radius : 4,
				fillColor : getRandomColor(),
				color : "#000000",
				weight : 1, 
				opacity : 1,
				fillOpacity : 1
			};
			
			// Gets randomized color for new layer //
			function getRandomColor() {
				var letters = '0123456789ABCDEF'.split('');
				var color = '#';
				for (var i = 0; i < 6; i++ ) {
					color += letters[Math.floor(Math.random() * 16)];
				}
				return color;
			};
		};
	});
	
	</script>
	
</body>
</html>
