<!DOCTYPE html>
<html>
<head>
	<title>piazza-consumer</title>
	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load staticfiles %}
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" href="{% static "piazza_consumer/Leaflet.MousePosition/src/L.Control.MousePosition.css" %}" />
	<link rel="stylesheet" href="{% static "piazza_consumer/LeafletMiniMap/src/Control.MiniMap.css" %}" />
	<link rel="stylesheet" href="{% static "piazza_consumer/LeafletLocateControl/src/L.Control.Locate.css" %}"/>
	<link rel="stylesheet" href="{% static "piazza_consumer/Leaflet.ZoomHome/dist/leaflet.zoomhome.css" %}"/>
	<link rel="stylesheet" href="{% static "piazza_consumer/Leaflet.EasyButton/src/easy-button.css" %}"/>
	<link rel="stylesheet" href="{% static "piazza_consumer/Leaflet.ZoomBox/L.Control.ZoomBox.css" %}"/>

	<style>
		#map {
			position: fixed;
			top: 0%;
			right: 0%;
			bottom: 0%;
			left: 0%;
			z-index: -1;
		}
		.ui-widget-content {
			text-align: center;
		}
		.ui-dialog .ui-dialog-buttonpane { 
			text-align: center;
		}
		.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { 
			float: none;
		}
		.ui-dialog .ui-dialog-title {
			text-align: center;
			width: 100%;
		}
		input{
			margin: auto;
			position: absolute;
			top: 70px; left: 60px; bottom: 0; right: 0;
		}
		#placeholder {
			position: absolute;
			height: 10px;
			width: 50px;
			visibility: hidden;
		}
		
	</style>
</head>
<body>

	<div id="placeholder"></div>
	
	<form id="timeoutForm" title="Alert Timeout Controller" visibility="hidden">
			<label for="timeout" style="display: block;" id="timeoutLable">Enter seconds for alert timeout,<br>or enter 0 to disable timeout.</label></br>
			<input type="text" name="timeout" id="timeout" value="" style="display: block;" class="text ui-widget-content ui-corner-all"/>
	</form>
	<form id="colortimeForm" title="Alert Color Controller" visibility="hidden">
			<label for="colortime" style="display: block;" id="colortimeLable">Enter seconds for alert color,<br>or enter 0 to disable alert color.</label></br>
			<input type="text" name="colortime" id="colortime" value="" style="display: block;" class="text ui-widget-content ui-corner-all"/>
	</form>
	<div id="map"></div>

	<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<script src="{% static "piazza_consumer/Leaflet.MousePosition/src/L.Control.MousePosition.js" %}"></script>
    <script src="{% static "piazza_consumer/LeafletMiniMap/src/Control.MiniMap.js" %}"></script>
    <script src="{% static "piazza_consumer/LeafletLocateControl/src/L.Control.Locate.js" %}"></script>
    <script src="{% static "piazza_consumer/Leaflet.ZoomHome/dist/leaflet.zoomhome.js" %}"></script>
    <script src="{% static "piazza_consumer/Leaflet.EasyButton/src/easy-button.js" %}"></script>
	<script src="{% static "piazza_consumer/Leaflet.ZoomBox/L.Control.ZoomBox.min.js" %}"></script>
	
    <script>

 	"use strict";
		
	$(document).ready(function () {

		if (!Date.now) {
				Date.now = function() { return new Date().getTime() }
			}

		var OpenStreetMap = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{
			maxZoom : 15,
			attribution : 'Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors',
			id : 'mapbox.light'
		});
		
		var Esri_WorldImagery = L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
			maxZoom : 15,
			attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
		});
		
		var mini = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			minZoom: 0, 
			maxZoom: 13, 
			attribution: 'Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors'
		});
		
		var map = L.map('map', {
			zoomControl: false,
			center:[0, 0], 
			zoom: 2,
			layers: [Esri_WorldImagery, OpenStreetMap]
		});
		
		var baseMaps = {
			"Esri_WorldImagery": Esri_WorldImagery,
			"OpenStreetMap": OpenStreetMap
		};
		
		// Adds layer selection to map
		L.control.layers(baseMaps).addTo(map);
		
		//Adds a locator map to bottom corner of the main map
		var miniMap = new L.Control.MiniMap(mini).addTo(map);
		
		//Adds a popup with information for each point
		function onEachFeature(feature, layer) {
			layer.on('click', function (e) {
				if (e.target.feature.properties.photos_url != null && e.target.feature.properties.photos_url != "") {
					var content = e.target.feature.properties.name + "</br>" + e.target.feature.properties.created_at + "</br>" + '<a href="' + e.target.feature.properties.photos_url + '" target="_blank">Available photos</a>';
				}
				else {
					var content = e.target.feature.properties.name + "</br>" + e.target.feature.properties.created_at + "</br>" + "No photos available";
				}
				var coords = [e.target.feature.geometry.coordinates[1],e.target.feature.geometry.coordinates[0]];
				var popup = L.popup().setLatLng(coords).setContent(content).openOn(map);
			});
		}
		
		//Symbolizes new points in red, old points in grey
		function Markers (feature) {
			
			
			if (feature.properties.time + (colortime * 1000) > Date.now() && colortime > 0){
				return {
					radius : 4,
					fillColor : "#e60000",
					color : "#000000",
					weight : 1,
					opacity : 1,
					fillOpacity : 1
				}
			}
			
			else {
			    return {
				  radius : 4,
				  fillColor : "#737373",
				  color : "#000000",
				  weight : 1, 
				  opacity : 1,
				  fillOpacity : 1
				 }
			}
		}
		
		var alayer;

			function updateMap(geojson){

				alayer = L.geoJson(geojson, {
					
					//Does not display old points on the map
					filter : function(feature) {
						if (timeout != 0) {
							return feature.properties.time + (timeout * 1000) > Date.now();
						}
						else {
							return true;
						}
					},

					style : function (feature) {
						return feature.properties && feature.properties.style;
					},

					onEachFeature : onEachFeature,

					pointToLayer : function (feature, latlng) {
						return L.circleMarker(latlng, Markers(feature));
					}
				}).addTo(map);
		}
		
		//Get features from geojson file every second
		setInterval(function () {
			
			$.ajax({
					url : "{{geojson_request_url}}",
					dataType: "json",
					success : function (result) {
						if (map.hasLayer(alayer)) {
							map.removeLayer(alayer);
						}
						updateMap(result);
					}
				});
		}, 1000);
		
		//Show coordinates of mouse position
		L.control.mousePosition().addTo(map);
		
		//Option to get your own location on the map
		L.control.locate({
			position: 'topleft',
			drawCircle: false,
			remainActive: false,
			icon: 'fa fa-map-marker'
		}).addTo(map);
		
		//Adds a return to home extend button
		var zoomHome = L.Control.zoomHome();
		zoomHome.addTo(map);
		
		//Adds numeric scale to map
		L.control.scale().addTo(map);
		
		//Button to fit map extent to bounds of point layer
		var extentButton = L.easyButton({
			states: [{
				stateName: 'Zoom to extent of current alerts',
				icon: 'fa-map',	
				title: 'Zoom to extent of current alerts',
				onClick: function(btn, map) {
					map.fitBounds(alayer.getBounds());
				}
			}]
		}).addTo(map);
		
		//Adds draggable zoom box
		var zoomBox = L.control.zoomBox({
			modal: true,
		}).addTo(map);
		
		
		//Button to set alert timeout
		var timeout = 0;
		document.getElementById("timeout").value = timeout;
		var getTimeout = $(function() {
		
			var TimeDialogBox = $("#timeoutForm").dialog({
				autoOpen: false,
				closeOnEscape: false,
				open: function(event, ui) {
					$(".ui-dialog-titlebar-close", ui.dialog | ui).hide();
					$("#colortimeForm").dialog('close');
				},
				height: 250,
				width: 350,
				position: {
					my: "left top",
					at: "right bottom",
					of: placeholder
				},
				modal: false,
				buttons: {
					"Submit": function() {
						var inNum = parseInt($("#timeout").val());
						if(isNaN(inNum) || inNum < 0 || inNum == "") {
							timeout = 0;
							document.getElementById("timeout").value = timeout;
						}
						else {
							timeout = inNum;
						}
						$(this).dialog("close");
					},
					"Cancel": function() {
						$(this).dialog("close");
					}
				},
			
			});
			
			$('#timeoutForm').keypress( function(e) {
				if (e.charCode == 13) {
					var inNum = parseInt($("#timeout").val());
						if(isNaN(inNum) || inNum < 0 || inNum == "") {
							timeout = 0;
							document.getElementById("timeout").value = timeout;
						}
						else {
							timeout = inNum;
						}
						$(this).dialog("close");
					e.preventDefault();
				}
			});
			
			var timeoutButton = L.easyButton({
				states: [{
					stateName: 'Set timeout for alerts',
					icon: 'fa-clock-o',	
					title: 'Set timeout for alerts',
					onClick: function(btn, map) {
						TimeDialogBox.dialog("open");
					}
				}]
			}).addTo(map);
		});		
	
		
		//Button to set new alert color time
		var colortime = 0;
		document.getElementById("colortime").value = colortime;
		var getColortime = $(function() {
		
			var colorDialogBox = $("#colortimeForm").dialog({
				autoOpen: false,
				closeOnEscape: false,
				open: function(event, ui) {
					$(".ui-dialog-titlebar-close", ui.dialog | ui).hide(); 
					$("#timeoutForm").dialog('close');
				},
				height: 250,
				width: 350,
				position: {
					my: "left top",
					at: "right bottom",
					of: placeholder
				},
				modal: false,
				buttons: {
					"Submit": function() {
						var inNum = parseInt($("#colortime").val());
						if(isNaN(inNum) || inNum < 0 || inNum == '') {
							colortime = 0;
							document.getElementById("colortime").value = colortime;
						}
						else {
							colortime = inNum;
						}
						$(this).dialog("close");
					},
					"Cancel": function() {
						$(this).dialog("close");
					}
				},
			
			});
			
			$('#colortimeForm').keypress( function(e) {
				if (e.charCode == 13) {
					var inNum = parseInt($("#colortime").val());
						if(isNaN(inNum) || inNum < 0 || inNum == "") {
							colortime = 0;
							document.getElementById("colortime").value = colortime;
						}
						else {
							colortime = inNum;
						}
						$(this).dialog("close");
					e.preventDefault();
				}
			});
			
			var colorTimeButton = L.easyButton({
				states: [{
					stateName: 'Set time for new alert color',
					icon: 'fa-exclamation-circle',	
					title: 'Set timeout for new alert color',
					onClick: function(btn, map) {
						colorDialogBox.dialog("open");
					}
				}]
			}).addTo(map);
		});	
		
	});
	
	</script>
</body>
</html>
